{% extends "base.html" %} {% block title %} Creando empleado {% endblock %} {%
block content %} {% if is_update %}
<h1>Editar empleado</h1>
{% else %}
<h1>Crear empleado</h1>
{% endif %}
<form action="" method="POST">
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
  {{ form.as_p() }} {% if is_update %}
  <button type="submit" class="btn btn-primary">Editar</button>
  <br /><br />
  {% else %}
  <button type="submit" class="btn btn-primary">Crear</button>
  <br /><br />
  {% endif %}
</form>
<a href="{{'/empleados/listado'}}" class="btn btn-secondary">
  <i class="bi bi-arrow-left"></i>
  Volver al listado
</a>

{% endblock %}
