{% extends "base.html" %} {% block title %} Creando socio {% endblock %} {%
block content %} {% if is_update %}
<h1 class="text-center">Editar Socio</h1>
{% else %}
<h1 class="text-center">Crear Socio</h1>
{% endif %}

<form class="text-center"action="" method="POST">
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
  {{ form.as_p() }} {% if is_update %}
  <button type="submit" class="btn btn-primary">Editar</button>
  <br /><br />
  {% else %}
  <button type="submit" class="btn btn-primary">Crear</button>
  <br /><br />
  {% endif %}
</form>

<div class="text-center">
  <a href="{{'/socios/listado'}}" class="btn btn-secondary">
  <i class="bi bi-arrow-left"></i> Volver al listado
  </a>
</div>

{% endblock %}
