{% extends 'base.html' %} {% block content %}
<h1 class="text-center">Lista de empleados</h1>
<a href="{{'./nuevo'}}" class="btn btn-primary">
  <i class="bi bi-person-plus-fill"></i>
  Añadir Empleado
</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Número de Legajo</th>
      <th scope="col">Activo</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for employee in employees %}
    <tr>
      <td>{{ employee.id }}</td>
      <td>{{ employee.name }}</td>
      <td>{{ employee.surname }}</td>
      <td>{{ employee.numero_legajo }}</td>
      {%- if employee.is_active -%}
      <td>Si</td>
      {% else %}
      <td>No</td>
      {% endif %}
      <td>
        <a href="./editar/{{employee.id}}" class="btn btn-warning">
          <i class="bi bi-pencil-fill"></i>
          Editar
          </a>
        {% if employee.is_active %}
        <a href="./estado/{{employee.id}}" class="btn btn-danger">
          <i class="bi bi-hand-thumbs-down-fill"></i>
          Desactivar
        </a>
        {%else %}
        <a href="./estado/{{employee.id}}" class="btn btn-success">
          <i class="bi bi-hand-thumbs-up-fill"></i>
          Activar
        </a>
        {%endif%}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br />

{% endblock %}
