{% extends 'base.html' %} {% block content %}

<a href="{{'/'}}" class="btn btn-light text-primary">
  <i class="bi bi-arrow-left"></i>
  Volver a Inicio
</a>
<h1 class="text-center">Lista de Socios</h1>
<a href="{{'./nuevo'}}" class="btn btn-primary my-3">
  <i class="bi bi-person-plus-fill"></i>
  Añadir Socio
</a>
<table class="table">
  <thead class="text-center">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Fecha de Nacimiento</th>
      <th scope="col">Activo</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody class="text-center">
    {% for partner in partners %}
    <tr>
      <td>{{ partner.id }}</td>
      <td>{{ partner.first_name }}</td>
      <td>{{ partner.last_name }}</td>
      <td>{{ partner.date_birth.strftime("%d/%m/%Y")}}</td>
      {%- if partner.is_active -%}
      <td>Si</td>
      {% else %}
      <td>No</td>
      {% endif %}
      <td>
        <a href="./editar/{{partner.id}}" class="btn btn-warning">
          <i class="bi bi-pencil-fill"></i>
          Editar
        </a>
        {% if partner.is_active %}
        <a href="./estado/{{partner.id}}" class="btn btn-danger">
          <i class="bi bi-hand-thumbs-down-fill"></i>
          Desactivar
        </a>
        {%else %}
        <a href="./estado/{{partner.id}}" class="btn btn-success">
          <i class="bi bi-hand-thumbs-up-fill"></i>
          Activar
        </a>
        {%endif%}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br />

{% endblock %}
