{% extends 'base.html' %} {% block content %}
<h1>Lista de empleados</h1>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Nacionalidadd</th>
      <th>Activo</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    {% for author in authors %}
    <tr>
      <td>{{ author.id }}</td>
      <td>{{ author.name }}</td>
      <td>{{ author.surname }}</td>
      <td>{{ author.nationality }}</td>
      {%- if author.is_active -%}
      <td>Si</td>
      {% else %}
      <td>No</td>
      {% endif %}
      <td>
        <a href="./editar/{{author.id}}">Editar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br />

<a href="{{'./nuevo'}}" class="btn btn-primary">Crear</a>

{% endblock %}
