{% extends 'base.html' %} {% block content %}
<a href="{{'/'}}" class="btn btn-light text-primary">
  <i class="bi bi-arrow-left"></i>
  Volver a Inicio
</a>
<h1 class="text-center">Lista de Prestamos de libros</h1>
<a href="{{'./nuevo'}}" class="btn btn-primary my-3">
  <i class="bi bi-plus-lg"></i>
  Registrar Prestamo
</a>

<table class="table">
  <thead class="text-center">
    <tr>
      <th>Id</th>
      <th>Libro</th>
      <th>Socio</th>
      <th>Empleado</th>
      <th>Fecha de Prestamo</th>
      <th>Fecha de Retorno</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody class="text-center">
    {% for book_loan in book_loans %}
    <tr>
      <td>{{ book_loan.id }}</td>
      <td>{{ book_loan.book }}</td>
      <td>{{book_loan.partner }}</td>
      <td>{{ book_loan.employee }}</td>
      <td>{{ book_loan.loan_date.strftime("%d/%m/%Y") }}</td>
      <td>{{ book_loan.return_date.strftime("%d/%m/%Y") }}</td>
      <td>
        <a href="./editar/{{book_loan.id}}" class="btn btn-warning">
          <i class="bi bi-pencil-fill"></i>
          Editar
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br />

{% endblock %}
