{% extends 'base.html' %} 
{% block content %}

<h1 class="text-center">Lista de autores</h1>
<a href="{{'./nuevo'}}" class="btn btn-primary">
  <i class="bi bi-person-plus-fill"></i>
  Añadir Autor
</a>

<h1>Lista de Autores</h1>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Nacionalidad</th>
      <th>Activo</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    {% for author in authors %}
    <tr>
      <td>{{ author.id }}</td>
      <td>{{ author.name }}</td>
      <td>{{ author.surname }}</td>
      <td>{{ author.nationality }}</td>
      {%- if author.is_active -%}
      <td>Si</td>
      {% else %}
      <td>No</td>
      {% endif %}
      <td>
        <a href="./editar/{{author.id}}"  class="btn btn-warning">
          <i class="bi bi-pencil-fill"></i>
          Editar
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br />

{% endblock %}
